<!DOCTYPE html>
<html>
  <head>
    <title>ITube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.logoUrl = "<%= image_url("i.png") %>"
      window.googleUrl = "<%= image_url("Google.png") %>"
      window.signupUrl = "<%= image_url("form.png") %>"
    </script>
     <% if current_user %>
        <script>
            window.currentUser = {
              "id": <%= current_user.id %>,
              "email": "<%= current_user.email %>",
              "first_name": "<%= current_user.first_name %>"
            }
        </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
